@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<AspNetCore_v1.Models.Item>

@{
    // ViewBag.Title = "Index Page";
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container">
    <table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Completed</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Completed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
    }        
    </tbody>
    </table>
</div>
<hr>
<div>
    @await Component.InvokeAsync("Completed",new { isCompleted = true })
</div>
